
.titulo-verde {
  color: green;
}

label {
  display: block;
  padding: 1em 2em;
  background-color: #000;
  color: #fff;
}

label + input {
  display: none;
}

label + input + aside {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  display: none;
  background-color: black;
  color: white;
  border: red 10px solid;
}

label + input:checked + aside.modal {
  display: block;
}

input:focus {
  background-color: black;
  color: white;
}

ul li:nth-child(2n+1) {
  background-color: red;
}






















